@model IEnumerable<BlogListModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h3 class="text-center my-3">Blog Listesi</h3>
<p>
    <a asp-action="Create" class="btn btn-sm btn-success float-right mb-3">Yeni Blog</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                Başlık
            </th>
            <th>
                Kısa Açıklama
            </th>
            <th>Kategori İşlemleri</th>
            <th>Blog İşlemleri</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Blogs" asp-action="AssignCategory" asp-route-id="@item.Id">Kategori Ata</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Detay</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
